<p-toast></p-toast>

<div class="card">
    <h5>Gestion des Inspections D'Académie</h5>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Ajouter une Inspection" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedInspectionAcademie()"
                    [disabled]="!selecteInspectionAcademies || !selecteInspectionAcademies.length"></button>
        </ng-template>

        <!--        <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>-->
    </p-toolbar>

    <div *ngIf="loading==true">
        <h5 class="spinner">Veuillez Patienter...</h5>
        <p-progressSpinner class="spinner"></p-progressSpinner>
    </div>
    <div *ngIf="erreur==true && loading==false" class="alert alert-danger" >
        Serveur Indisponible
    </div>
    <p-table *ngIf="!tableau">
        <ng-template pTemplate="header">
            <p class="vides">La liste des Inspections est vide</p>
        </ng-template>

    </p-table>
    <p-table  #dt [value]="inspectionAcademies" [paginator]="true" [rows]="10"  [globalFilterFields]="['libelle','region']" responsiveLayout="scroll"
              [(selection)]="selecteInspectionAcademies" [rowHover]="true" dataKey="id"
              [rowsPerPageOptions]="[10,25,50]" *ngIf="tableau">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Liste des Inspections d'Academie</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." />
                        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="libelle">Inspection d'Academie <p-sortIcon field="libelle"></p-sortIcon></th>
                <th pSortableColumn="libelle">Region <p-sortIcon field="libelle"></p-sortIcon></th>

                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-inspectionAcademie>
            <tr>
                <td>
                    <p-tableCheckbox [value]="inspectionAcademie"></p-tableCheckbox>
                </td>
                <td>{{inspectionAcademie.libelle}}</td>
                <td>{{inspectionAcademie.region.libelle}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"  pTooltip="Modifier une inspection" (click)="editInspectionAcademie(inspectionAcademie)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2"  pTooltip="Supprimer une inspection" (click)="deleteInspectionAcademie(inspectionAcademie)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

</div>
<p-dialog [(visible)]="inspectionAcademiesDialog" [style]="{width: 'auto'}" header="Ajout/Modification d'une Inspection d'Académie" [modal]="true" [closable]="false" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field p-col">
            <label for="libelle">Libelle</label>
            <input type="text" pInputText id="libelle"  [(ngModel)]="inspectionAcademie.libelle" required autofocus />
            <small class="p-error" *ngIf="submitted && !inspectionAcademie.libelle">Libelle est obligatoire.</small>
        </div>
        <br>
        <div class="field-col">
            <label for="libelle">Region</label>
            <p-autoComplete appendTo="body" readonly="true" placeholder="Choisir une region" [dropdown]="true" [(ngModel)]="region"
                            [suggestions]="filteredRegions" [multiple]="false" [ngClass]="{'ng-invalid ng-dirty' : submitted && !region}"
                            (completeMethod)="filterRegion($event)" id="libelle" field="libelle"></p-autoComplete>
            <small class="p-error" *ngIf="submitted && !region">Region est obligatoire.</small>
        </div>


    </ng-template>
    <div class="espace">

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-success" (click)="postInspectionAcademie()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>



