<div class="card">
    <h5>Liste des Eleves de la classe {{classe.nom }}</h5>
    <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouvelle" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewest()"></button>
                    <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEleves()" [disabled]="!selectedEleves || !selectedEleves.length"></button>
                </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="eleves" [paginator]="true" [rows]="10"  [globalFilterFields]="['Prenom','Nom','Age']" responsiveLayout="scroll"
             [(selection)]="selectedEleves"
             [rowHover]="true" dataKey="id"
             [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="age">Age <p-sortIcon field="age"></p-sortIcon></th>
                <th></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eleve>
            <tr>
                <td>
                    <p-tableCheckbox [value]="eleve"></p-tableCheckbox>
                </td>
                <td>{{eleve.prenom}}</td>
                <td>{{eleve.nom}}</td>
                <td>{{eleve.age}} ans</td>
                <td>
                    <!--                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="openEdit(classe)" ></button>
                                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClasse(classe)"></button>
                                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="openEleve(classe)" ></button>-->
                    <!--                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary mr-2" (click)="getElevesByClasse(classe.id)" ></button>-->

                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

</div>

<p-dialog [(visible)]="eleveDialog" [style]="{width: '450px'}" header="Ajout d'une Eleve" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field p-col">
            <label for="prenom">Prenom</label>
            <input type="text" pInputText id="prenom" [(ngModel)]="eleve.prenom" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !eleve.prenom">Prenom est obligatoire.</small>
        </div>
        <div class="espace">

        </div>
        <div class="p-field p-col">
            <label for="nom">Nom</label>
            <input type="text" pInputText id="nom" [(ngModel)]="eleve.nom" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !eleve.nom">Nom est obligatoire.</small>
        </div>
        <div class="espace">

        </div>
        <div class="p-field p-col">
            <label for="age">Age</label>
            <p-inputNumber id="age" [(ngModel)]="eleve.age"></p-inputNumber>
        </div>
    </ng-template>
    <div class="espace">

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text"  (click)="postEleve()" ></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
