<p-toast></p-toast>
<div class="card">
    <h5>Liste des Eleves</h5>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nouvelle" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEleves()" [disabled]="!selectedEleves || !selectedEleves.length" ></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="eleves" [paginator]="true" [rows]="10"  [globalFilterFields]="['prenom','nom','dateNaissance','classe']" responsiveLayout="scroll"
             [(selection)]="selectedEleves"
             [rowHover]="true" dataKey="id"
             [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5  class="effectif" *ngIf="!classe">Effectif Total: <p-badge value="{{ nbrEleves }}" size="large" severity="info"></p-badge></h5>
                <h5 class="effectif" *ngIf="classe">Effectif {{classe.nom}}:  <p-badge value="{{ nbrElevesClasse }}" size="large" severity="info"></p-badge></h5>
                <p-autoComplete appendTo="body"  readonly="false" placeholder="Choisissez une classe"  [dropdown]="true" [(ngModel)]="classe"
                                (onSelect)="getElevesByClasse(classe.id)"  showClear="true"
                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !classe}"
                                [suggestions]="filteredClasses" showEmptyMessage="Liste des classes vides"
                                (completeMethod)="filterClasse($event)"  field="nom"></p-autoComplete>
                <button *ngIf="classe" pButton pRipple label="TOUS LES ELEVES"  class="p-button-primary" icon="pi pi-check"
                        (click)="getEleves()"  ></button>
                <h5 *ngIf="classe==null"></h5>

                <!--                <p-dropdown [options]="classes" [(ngModel)]="classe" placeholder="Choisisser une classe" optionLabel="nom" emptyMessage="Listes Vides"
                                            (onChange)="getElevesByClasse(classe.id)" [showClear]="true" ></p-dropdown>-->
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." />
                        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                <th pSortableColumn="dateNaissance">Date Naissance <p-sortIcon field="dateNaissance"></p-sortIcon></th>
                <th pSortableColumn="classe">Classe<p-sortIcon field="classe"></p-sortIcon></th>
                <th pSortableColumn="adresse">Adresse <p-sortIcon field="adresse"></p-sortIcon></th>
                <th pSortableColumn="adresse">Actions<p-sortIcon field="adresse"></p-sortIcon></th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eleve>
            <tr>
                <td>
                    <p-tableCheckbox [value]="eleve"></p-tableCheckbox>
                </td>
                <td>{{eleve.prenom}}</td>
                <td>{{eleve.nom}}</td>
                <td>{{eleve.dateNaissance | date: 'dd/MM/yyyy' }}</td>
                <td>{{eleve.classe.nom}}</td>
                <td>{{eleve.adresse}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEleve(eleve)" pTooltip="Modifier un Eleve"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteEleve(eleve)" pTooltip="Supprimer un eleve"></button>
                    <button pButton pRipple icon="pi pi-bookmark-fill" class="p-button-rounded p-button-primary" (click)="getDetailEleve(eleve)"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
    <p-dialog [(visible)]="eleveDialog" [closable]="false" [style]="{width: '450px'}" header="Ajout d'un Eleve" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="formgrid grid">
                <div class="field col">
                    <label for="nom">Nom</label>
                    <input type="text" pInputText id="nom" [(ngModel)]="eleve.nom" placeholder="Nom" required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.nom">Nom est obligatoire.</small>
                </div>
                <div class="field col">
                    <label for="prenom">Prenom</label>
                    <input type="text" pInputText id="prenom" [(ngModel)]="eleve.prenom" placeholder="Prenom"  required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.prenom">Prenom est obligatoire.</small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="dateNaissance">Date de Naissance</label>
<!--                    <input name="dateT"  pInputText id="dateNaissance" placeholder="MM/DD/YYYY"  (ngModelChange)="updatedate($event)" [ngModel]="eleve.dateNaissance |date:'yyyy-MM-dd'" #dateT="ngModel" type="date"/>-->

                    <p-calendar appendTo="body"  placeholder="DD/MM/YYYY" id="dateNaissance" [showIcon]="true" [maxDate]="dateJour" [(ngModel)]="eleve.dateNaissance" required></p-calendar>
                    <small class="p-error" *ngIf="submitted && !eleve.dateNaissance">Date de Naissance est obligatoire.</small>
                </div>
                <div class="field col">
                    <label for="lieuNaissance">Lieu de Naissance</label>
                    <input type="text" pInputText id="lieuNaissance" placeholder="Lieu de Naisssance"  [(ngModel)]="eleve.lieuNaissance" required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.lieuNaissance">Lieu de Naissance est obligatoire.</small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="telephone">Telephone</label>
                    <p-inputMask mask="99 999-99-99" [(ngModel)]="eleve.telephone" placeholder="77 777-66-77"></p-inputMask>

                    <!--                    <p-inputNumber id="telephone" [(ngModel)]="eleve.telephone" placeholder="77 747 87 99" ></p-inputNumber>-->
                </div>
                <div class="field col">
                    <label for="numeroContact">Numero Tuteur</label>
                    <p-inputMask mask="99 999-99-99" [(ngModel)]="eleve.numeroContact" placeholder="77 777-66-77"></p-inputMask>
<!--                    <p-inputNumber id="numeroContact" [(ngModel)]="eleve.numeroContact" placeholder="77 747 87 99"></p-inputNumber>-->
                </div>
            </div>
            <div class="field col">
                <label for="nom">Classe</label>
                 <p-autoComplete appendTo="body" readonly="true" placeholder="Choisissez une classe"  [dropdown]="true" [(ngModel)]="classe" required autofocus showClear="true"
                                 [ngClass]="{'ng-invalid ng-dirty' : submitted && !classe}"
                                [suggestions]="filteredClasses" showEmptyMessage="Liste des classes vides"
                                (completeMethod)="filterClasse($event)"  field="nom"></p-autoComplete>
                <small class="p-error" *ngIf="submitted && !classe">Choisir une Classe.</small>

            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="adresse">Adresse</label>
                    <input type="text" pInputText id="adresse"  [(ngModel)]="eleve.adresse" placeholder="Adresse" required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.adresse">Adresse est obligatoire</small>
                </div>
                <div class="field col">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" [ngModelOptions]="{ updateOn: 'blur' }" #emailerror="ngModel"
                           placeholder="abc@gmail.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$ " [(ngModel)]="eleve.email" pInputText autofocus/>
                    <div *ngIf="emailerror.invalid && (emailerror.dirty || emailerror.touched)">
                        <div *ngIf="emailerror.errors.required">
                            <span class="p-error">Email is required </span>
                        </div>
                        <div *ngIf="emailerror.errors.pattern">
                            <span class="p-error">Invalid EmailL </span>
                        </div>
                    </div>

                   <!-- <small class="p-error" *ngIf="emailerror.invalid && eleve.email">Email invalide </small>
                    <small *ngIf="emailerror.valid && eleve.email">Email valide </small>-->

<!--                    <small class="p-error" *ngIf="validerEmail==false && eleve.email">Email invalide </small>-->

                </div>

            </div>

        </ng-template>

        <div class="espace">
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" class="p-button-danger" icon="pi pi-times"  (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer"  class="p-button-success" icon="pi pi-check"   (click)="postEleve()" ></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="eleveDialog2"  [style]="{width: '450px'}" header="Modification d'un Eleve" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="formgrid grid">
                <div class="field col">
                    <label for="nom">Nom</label>
                    <input type="text" pInputText id="nom" [(ngModel)]="eleve.nom" placeholder="Nom" required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.nom">Nom est obligatoire.</small>
                </div>
                <div class="field col">
                    <label for="prenom">Prenom</label>
                    <input type="text" pInputText id="prenom" [(ngModel)]="eleve.prenom" placeholder="Prenom"  required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.prenom">Prenom est obligatoire.</small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="dateNaissance">Date de Naissance</label>
                    <p-calendar appendTo="body" placeholder="{{eleve.dateNaissance |date:'dd-MM-yyyy'}}" id="dateNaissance"  [showIcon]="true"
                                [maxDate]="dateJour"  [(ngModel)]="eleve.dateNaissance"  required></p-calendar>
                    <small class="p-error" *ngIf="submitted && !eleve.dateNaissance">Date de Naissance est obligatoire.</small>
                </div>
                <div class="field col">
                    <label for="lieuNaissance">Lieu de Naissance</label>
                    <input type="text" pInputText id="lieuNaissance" placeholder="Lieu de Naisssance"  [(ngModel)]="eleve.lieuNaissance" required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.lieuNaissance">Lieu de Naissance est obligatoire.</small>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="telephone">Telephone</label>
                    <p-inputMask mask="99 999-99-99" id="telephone" [(ngModel)]="eleve.telephone"></p-inputMask>
                </div>
                <div class="field col">
                    <label for="numeroContact">Numero Tuteur</label>
                    <p-inputMask id="numeroContact" mask="99 999-99-99" [(ngModel)]="eleve.numeroContact"></p-inputMask>
                </div>
            </div>
            <div class="field col">
                <label for="nom">Classe</label>
                <p-autoComplete appendTo="body" readonly="true" [dropdown]="true" [(ngModel)]="eleve.classe"
                                [suggestions]="filteredClasse" [multiple]="false"
                                (completeMethod)="filterclasse($event)" id="classe" field="nom"></p-autoComplete>
            </div>
            <div class="formgrid grid">
                <div class="field col">
                    <label for="adresse">Adresse</label>
                    <input type="text" pInputText id="adresse" [(ngModel)]="eleve.adresse" placeholder="Adresse" required autofocus />
                    <small class="p-error" *ngIf="submitted && !eleve.adresse">Adresse est obligatoire</small>
                </div>
                <div class="field col">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="abc@gmail.com" [(ngModel)]="eleve.email"
                           pInputText  autofocus/>
                    <small class="p-error" *ngIf="validerEmail==false && eleve.email">Email invalide </small>
                </div>
            </div>
        </ng-template>

        <div class="espace">
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Annuler" class="p-button-danger" icon="pi pi-times" (click)="hideDialog()"></button>
            <button pButton pRipple label="Enregistrer" class="p-button-success"  icon="pi pi-check"  (click)="postEleve()" ></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="detailDialog"  [resizable]="true" [maximizable]="true" [breakpoints]="{'1300px': '140vw'}" [style]="{width: '60vw'}" header="Détail Eleve" [closable]="false" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <br>
            <!--   <div class="global">
                   <table class="tableaugauche">
                       <tr>
                           <td>
                               <a class="gauche">Nom & Prenom:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.nomPrenom}}" size="large" severity="info"></p-badge>
                           </td>
                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Numero de Pension:</a>
                           </td>
                           <td>
                               <p-badge class="droite"  value="{{beneficiaire.numPension}}" size="large" severity="info"></p-badge>
                           </td>
                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Civilité:</a>
                           </td>
                           <td>
                               <p-badge class="droite"  value="{{beneficiaire.civilite}}" size="large" severity="info"></p-badge>
                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Adresse:</a>
                           </td>
                           <td>
                               <p-badge class="droite"  value="{{beneficiaire.adresse}}" size="large" severity="info"></p-badge>
                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Code Postal:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.codePostal}}" size="large" severity="info"></p-badge>

                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Numero Piece:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.numPiece}}" size="large" severity="info"></p-badge>

                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Type Piece:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.typePiece}}" size="large" severity="info"></p-badge>

                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Nationalité:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.nationalite}}" size="large" severity="info"></p-badge>

                           </td>

                       </tr>
                   </table>
                   <table class="tableaudroite">
                       <tr>
                           <td>
                               <a class="gauche">Adresse Complementaire:</a>
                           </td>
                           <td>
       &lt;!&ndash;                        <p-badge class="droite"  value="{{beneficiaire.adresseComplementaire}} " size="large" severity="info"></p-badge>&ndash;&gt;
                               {{beneficiaire.adresseComplementaire}}
                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Commune:</a>
                           </td>
                           <td>
                               <p-badge class="droite"  value="{{beneficiaire.commune}}" size="large" severity="info"></p-badge>
                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Date de Naissance:</a>
                           </td>
                           <td>
                               <p-badge class="droite"  value="{{beneficiaire.dateNaissance  | date: 'dd/MM/yyyy'}}" size="large" severity="info"></p-badge>
                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Date d'enregistrement:</a>
                           </td>
                           <td>
                               <p-badge class="droite"  value="{{beneficiaire.dateChargement | date: 'dd/MM/yyyy' }}" size="large" severity="info"></p-badge>
                           </td>
                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Téléphone:</a>
                           </td>
                           <td>
                               <p-badge class="droite"  value="{{beneficiaire.telephone }}" size="large" severity="info"></p-badge>
                           </td>
                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Date Délivrance Piece:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.dateDelivrancePiece | date: 'dd/MM/yyyy'}}" size="large" severity="info"></p-badge>

                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Date d'expiration piece:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.dateExpirationPiece | date: 'dd/MM/yyyy'}}" size="large" severity="info"></p-badge>

                           </td>

                       </tr>
                       <br>
                       <tr>
                           <td>
                               <a class="gauche">Fichier:</a>
                           </td>
                           <td>
                               <p-badge class="droite" value="{{beneficiaire.fileName}}" size="large" severity="info"></p-badge>

                           </td>

                       </tr>

                   </table>

               </div>-->
            <p-splitter [style]="{'height': 'auto'}">
                <ng-template pTemplate>
                    <table class="tableaugauche">
                        <tr>
                            <td>
                                <a class="gauche">Nom:</a>
                            </td>
                            <td>
                                {{eleve.nom}}
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Prenom:</a>
                            </td>
                            <td>
                                {{eleve.prenom}}
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Email:</a>
                            </td>
                            <td>
                                {{eleve.email}}
                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Adresse:</a>
                            </td>
                            <td>
                                {{eleve.adresse}}
                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Date de Naissance:</a>
                            </td>
                            <td>
                                {{eleve.dateNaissance | date: 'dd/MM/yyyy'}}

                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Lieu de Naissance:</a>
                            </td>
                            <td>
                                {{eleve.lieuNaissance}}

                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Téléphone:</a>
                            </td>
                            <td>
                                {{eleve.telephone}}

                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Numero de Contact:</a>
                            </td>
                            <td>
                                {{eleve.numeroContact}}

                            </td>

                        </tr>
                    </table>
                </ng-template>
                <ng-template pTemplate>
                    <table class="tableaudroite">
                        <tr>
                            <td>
                                <a class="gauche">Classe:</a>
                            </td>
                            <td>
                                {{eleve.classe.nom}}
                            </td>

                        </tr>
                      <!--  <br>
                        <tr>
                            <td>
                                <a class="gauche">Commune:</a>
                            </td>
                            <td>
                                {{beneficiaire.commune}}
                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Date de Naissance:</a>
                            </td>
                            <td>
                                {{beneficiaire.dateNaissance  | date: 'dd/MM/yyyy'}}
                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Date d'enregistrement:</a>
                            </td>
                            <td>
                                {{beneficiaire.dateChargement | date: 'dd/MM/yyyy' }}
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Téléphone:</a>
                            </td>
                            <td>
                                {{beneficiaire.telephone}}
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Date Délivrance Piece:</a>
                            </td>
                            <td>
                                {{beneficiaire.dateDelivrancePiece | date: 'dd/MM/yyyy'}}

                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Date d'expiration piece:</a>
                            </td>
                            <td>
                                {{beneficiaire.dateExpirationPiece | date: 'dd/MM/yyyy'}}
                            </td>

                        </tr>
                        <br>
                        <tr>
                            <td>
                                <a class="gauche">Fichier:</a>
                            </td>
                            <td>
                                {{beneficiaire.fileName}}
                            </td>

                        </tr>-->

                    </table>
                </ng-template>
            </p-splitter>


        </ng-template>
        <div class="espace">

        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>

        </ng-template>
    </p-dialog>
    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
