<p-toast></p-toast>

<div class="card">
    <h5>Gestion des Regions</h5>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Ajouter une region" icon="pi pi-plus" (click)="openNew()" class="p-button-success mr-2" ></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedRegions()" [disabled]="!selectedRegions || !selectedRegions.length"></button>
        </ng-template>

        <!--        <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>-->
    </p-toolbar>

    <div *ngIf="loading==true">
        <h5 class="spinner">Veuillez Patienter...</h5>
        <p-progressSpinner class="spinner"></p-progressSpinner>
    </div>
    <div *ngIf="erreur==true && loading==false" class="alert alert-danger" >
        Serveur Indisponible
    </div>
    <p-table *ngIf="!tableau">
        <ng-template pTemplate="header">
            <p class="vides">La liste des Regions est vide</p>
        </ng-template>

    </p-table>
    <p-table  #dt [value]="regions" [paginator]="true" [rows]="10"  [globalFilterFields]="['libelle']" responsiveLayout="scroll"
              [(selection)]="selectedRegions" [rowHover]="true" dataKey="id"
              [rowsPerPageOptions]="[10,25,50]" *ngIf="tableau">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">

                <!--                <h5 class="m-0" *ngIf="!niveau">Total: <p-badge value="{{nbrClasse}}" size="large" severity="info"></p-badge></h5>-->
                <!--                <h5 class="m-0" *ngIf="niveau">Total: <p-badge value="{{nbrClasseparNiveau}}" size="large" severity="info"></p-badge></h5>-->
                <!--                <p-autoComplete appendTo="body"  readonly="false" placeholder="Choisissez un niveau"  [dropdown]="true" [(ngModel)]="niveau"
                                                (onSelect)="getClassesByNiveau(niveau.id)"  showClear="true"
                                                [ngClass]="{'ng-invalid ng-dirty' : submitted && !niveau}"
                                                [suggestions]="filteredNiveaux" showEmptyMessage="Liste des classes vides"
                                                (completeMethod)="filterNiveau($event)"  field="nom"></p-autoComplete>-->
                <!--                <button *ngIf="niveau" pButton pRipple label="TOUTES LES CLASSES"  class="p-button-primary" icon="pi pi-check"
                                        (click)="getClasses()"></button>
                                <h5 *ngIf="niveau==null"></h5>-->
                <h5 class="m-0">Liste des Regions</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." />
                        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="libelle">Region <p-sortIcon field="libelle"></p-sortIcon></th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-region>
            <tr>
                <td>
                    <p-tableCheckbox [value]="region"></p-tableCheckbox>
                </td>
                <td>{{region.libelle}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editRegion(region)" pTooltip="Modifier une region" ></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning mr-2" (click)="deleteRegion(region)" pTooltip="Supprimer une region" ></button>
                    <!--                    <button pButton pRipple icon="pi pi-bookmark-fill" class="p-button-rounded p-button-primary"  (click)="getOneClasse(classe)" pTooltip="Détails" ></button>-->
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>

</div>
<p-dialog [(visible)]="regionDialog" [style]="{width: 'auto'}" header="Ajout/Modification d'une Region" [modal]="true" styleClass="p-fluid" [closable]="false">
    <ng-template pTemplate="content">
        <div class="field-col">
            <label for="libelle">Region</label>
            <input type="text" pInputText id="libelle"  [(ngModel)]="region.libelle" required autofocus />
            <small class="p-error" *ngIf="submitted && !region.libelle">Region est obligatoire.</small>
        </div>



    </ng-template>
    <div class="espace">

    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-danger" (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-success" (click)="postRegion()" ></button>
    </ng-template>
</p-dialog>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

